<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app.video.title }} </title>
</head>
<body>
<div class="container">
    {% block content %}{% endblock %}
</div>
<link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="/static/stylesheets/styles.css">
</body>
</html>